body {
    margin: 0;
    width: 1400px;
    height: 1626px;
}

.header {
    width: 1400px;
    height: 88px;
}

.nav-bar {
    width: 635px;
    height: 88px;
    margin: 0 auto;
}

.ul-nav {
    margin: 0;
    padding: 0;
    width: 635px;
    height: 88px;
}

.item1 {
    width: 77px;
    height: 24px;
    display: inline-block;
    text-align: center;
    margin-top: 32px;
    margin-right: 68px;
    margin-bottom: 32px;
    margin-left: 0;
}

.item2 {
    width: 70px;
    height: 24px;
    display: inline-block;
    margin-top: 32px;
    margin-right: 68px;
    margin-bottom: 32px;
    margin-left: 0;
    text-align: center;
}

.item3 {
    width: 38px;
    height: 24px;
    display: inline-block;
    margin-top: 32px;
    margin-right: 68px;
    margin-bottom: 32px;
    margin-left: 0;
    text-align: center;
}

.item4 {
    width: 88px;
    height: 24px;
    display: inline-block;
    margin-top: 32px;
    margin-right: 68px;
    margin-bottom: 32px;
    margin-left: 0;
    text-align: center;
}

.item5 {
    width: 74px;
    height: 24px;
    display: inline-block;
    margin-top: 32px;
    margin-right: 0;
    margin-bottom: 32px;
    margin-left: 0;
    text-align: center;
}

.link-menu {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Inter;
}

.main {
    width: 1400px;
    height: 1472px;
}

.content-img {
    width: 1400px;
    height: 552px;
}
.content-div {
    width: 920px;
    height: 744px;
    margin: 0 272px 0 272px;
}

.title {
    text-align: center;
    font-size: 48px;
    width: 856px;
    height: 65px;
    margin: 88px 0 0 0;
    font-family: Inter;
}
.text1-div {
    width: 856px;
    height: 160px;
    font-size: 21px;
    margin: 40px 0 0 0;
    font-family: Inter;
}

.text2-div {
    width: 856px;
    height: 351px;
    margin: 24px 0 40px 0;
    padding: 0;
    line-height: 27px;
    font-size: 18px;
    font-family: Inter;
}

.color-text{
    color: #04959E;
}

ol {
    padding: 0 0 0 20px;
    margin: 0;
}

.button-div {
    width: 165px;
    height: 64px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 88px;
    margin-right: auto;
}
.btn {
    width: 145px;
    height: 44px;
    font-size: 18px;
    padding: 10px 24px 10px 24px;
    margin: 10px;
    border: 0;
    text-align: center;
    background: #04959E;
    color: #FFFFFF;


}
.hr {
    width: 1400px;
    height: 1px;
    margin: 0;
}

.footer-text {
    width: 856px;
    height: 59px;
    margin: 0 auto;
}

.text {
    font-size: 18px;
    margin: 16px auto;
    width: 146px;
    height: 27px;
    font-family: Inter;
}